@use './_variables.scss' as *;


@mixin container {
width: min(100% - 2rem, #{$container-max});
margin-inline: auto;
}


@mixin btn-primary {
background: $color-primary; color: $ink-on-primary;
border: 1px solid transparent; border-radius: $radius-xl;
padding: .6rem 1rem; transition: filter .2s ease;
&:hover { filter: brightness(.95); }
}


@mixin elevation {
box-shadow: 0 1px 2px rgba(0,0,0,.06), 0 4px 12px rgba(0,0,0,.08);
}