$container-max: 1200px;


$color-primary: #76A5AF;
$color-charcoal: #484B4B;
$color-accent: #5CADDD;
$color-bg: #FFFFFF;
$color-soft: #F0F1ED;
$color-hi-cyan: #CBFFF8;
$color-hi-yellow: #FFFFCD;


$ink-on-primary: #ffffff;
$ink-on-charcoal: #FFFFFF;


$radius-xl: 12px;
$radius-2xl: 16px;